<h1>
  Feed back
</h1>
<p>Name: <%= @feedback.name%></p>
<p>Mobile Num: <%= @feedback.mobile_number%></p>
<p>Email: <%= @feedback.email%></p>
<p>Gender: <%= @feedback.gender%></p>
<p>Profession: <%= @feedback.profession%></p>
<p>hear_through: <%= @feedback.hear_through%></p>
<p>preference: <%= @feedback.preference%></p>
<p>experience: <%= @feedback.experience%></p>
<p>Name: <%= @feedback.contact_through%></p>
<p>comments: <%= @feedback.comments%></p>
