<h1>
  Frenchise
</h1>

<p>first_name: <%= @frenchise.first_name %></p>
<p>last_name: <%= @frenchise.last_name %></p>
<p>email: <%= @frenchise.email %></p>
<p>phone_number: <%= @frenchise.phone_number %></p>
<p>city: <%= @frenchise.city %></p>
<p>country: <%= @frenchise.country %></p>
